/* import styled from 'styled-components'; */

:root {
  font-family: Arial, sans-serif;
}
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px; 
  background: linear-gradient( 185deg, darkblue, violet );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
